*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
}

.row {
    display: flex;
}

.hero {
    background-image: url(./images/hero_background_2.jpg);
    background-position: center;
    background-size: cover;
    margin: 0;
    display: flex;
    width: 35%;
    height: 100vh;
    align-items: flex-start;
}

.hero__text {
    font-family: 'Special Elite', cursive;
    font-weight: 400;
    font-size: 48px;
    margin: 0;
    color: white;
}

.hero__img {
    width: 100px;
}

.odin__banner {
    padding: 5% 20%;
    width: 100%;
    display: flex;
    background: rgb(0, 0, 0, 0.7);
    align-items: center;
    margin-top: 20vh;
    justify-content: center;
}

.main {
    width: 65%;
    background: whitesmoke;
    /* height: 100vh; */
}

.container {
    margin: 0 auto;
    width: 95%;
    padding: 0.5em 20% 0.5em 0.5em;
}

.top__section {
    padding-top: 6em;
    padding-bottom: 2em;
    /* background: whitesmoke; */
    /* padding: .5em; */
}

.middle__section {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 1em 20% 1em 0;
    /* padding-right: 20%;
    padding-top: 1em; */
    background: white;
}

.form__title {
    margin: 0;
}

.form__section {
    gap: 3em;
    margin: 1.5em 0;
}

.form__item {
    flex: 1;
}

.input_label {
    display: block;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: .1em;
    color: rgb(45, 45, 45)
}

.input {
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    width: 100%;
    padding: 0.5em 1em;
}

.input:focus {
    border: 1px solid cornflowerblue;
    outline: 1px solid cornflowerblue;
}

.invalid {
    border: 2px solid red;
    outline: 0px solid red;
}

.invisible {
    display: none;
}

.pass_match--fail {
    color: red;
}

.bottom_section {
    padding-top: 2em;

}

.create__btn {
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background: #596D48;
    font-weight: bold;
    font-size: 16px;
    color: white;
    padding: 1em 3em;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.create__btn:hover {
    background: #637950;
}

.a__login {
    color: #596D48;
    text-decoration: none;
}

@media (max-width: 900px) {
    .row {
        flex-direction: column;
    }

    .hero {
        width: 100%;
        height: 20%;
    }

    .main {
        width: 100%;
    }

    .odin__banner {
        margin-top: 0;
    }

    .top__section {
        padding-top: 1em;
        padding-bottom: .5em;
    }

}